# Dependency directories
node_modules/
jspm_packages/


# gatsby files
.catch/
public


# dotenv environment variables file
.env

# Text editor files
.vscode


# Optional npm cache directory
.npm

# Logs
logs
*.log
npm-debug.log*

# Optional eslint cache
.eslintcache

# gatsby files
.cache/
public


# Project files
markets.json
package-lock.json

# Mac files
.DS_Store